@import url("https://fonts.cdnfonts.com/css/roboto");

.swiper-pagination-bullet-active {
	background-color: rgba(22, 155, 72, 1);
}

.font-roboto {
	font-family: "Roboto Light", sans-serif;
}

.font-roboto-medium {
	font-family: "Roboto Medium", sans-serif;
}

.font-roboto-black {
	font-family: "Roboto Black", sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}